@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-green: rgba(89, 159, 78, 1);
  --theme-white: #ffffff;
}

/* * {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
} */

.header-container {
  font-family: 'Roboto', sans-serif;
  position: sticky;
}
.header-container .header-level {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-green);
  color: var(--theme-white);
  font-weight: 800;
  font-size: 1.2rem;
}

.upper-sub-container,
.lower-sub-container {
  height: 5rem;
  display: flex;
  padding: 0.5rem 1rem;
}

.upper-sub-container .v-input__details {
  display: none;
}

.upper-sub-container .v-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upper-sub-container .user-sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.lower-sub-container .nav-container {
  display: flex;
  align-items: center;
}
.lower-sub-container .nav-container a {
  margin-left: 2rem;
}
.lower-sub-container .nav-container .router-link-active {
  color: var(--theme-green);
}
.cart-button {
  color: var(--theme-white);
  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
}
.cart-button span {
  margin: 0 5px;
}

.item-container {
  padding: 1.5rem;
  width: 100%;
}
.item-container .upper-banner-container {
  margin: 0;
}
.item-container .category-banner-container {
  padding: 3px;
  margin-top: 1rem;
}
.item-container .category-banner-container .banner-card img {
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.item-container .home-category-container {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem 2.5rem;
  justify-content: center;
  flex-wrap: wrap;
}
.home-category-container .category-list {
  height: 6rem;
  background-color: rgba(239, 253, 236, 1);
  border: solid 2px #9fa39e;
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  flex-direction: column;
}
.home-category-container .category-list img {
  height: 80%;
  object-fit: contain;
}

.home-category-container .category-list img:hover {
  height: 90%;
}
.home-product-slider-container {
  margin: 1rem;
}

.item-container .home_secondary_banner_container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.item-container .home_secondary_banner_container img {
  width: 98%;
}

.category-drawer-container .category-list {
  margin: 0 0.5rem;
  padding: 1rem;
  cursor: pointer;
  color: var(--theme-green);
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.category-drawer-container .category-list:hover {
  background-color: var(--theme-green);
  color: var(--theme-white);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  transition-delay: 500ms color background;
}

@media (max-width: 1200px) {
  .item-container,
  .header-container .header-level {
    max-width: 1152px;
  }
}
@media (max-width: 992px) {
  .item-container,
  .header-container .header-level {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .item-container,
  .header-container .header-level {
    max-width: 720px;
  }
}
@media only screen and (max-width: 576px) {
  .item-container,
  .header-container .header-level {
    max-width: 540px;
  }
}
